'.source.js.jsx':
  'onBlur':
    'prefix': 'onbl'
    'body': 'onBlur$0'
  'onChange':
    'prefix': 'onch'
    'body': 'onChange$0'
  'onClick':
    'prefix': 'oncl'
    'body': 'onClick$0'
  'onContextMenu':
    'prefix': 'oncm'
    'body': 'onContextMenu$0'
  'onCopy':
    'prefix': 'onco'
    'body': 'onCopy$0'
  'onCut':
    'prefix': 'onct'
    'body': 'onCut$0'
  'onDoubleClick':
    'prefix': 'ondc'
    'body': 'onDoubleClick$0'
  'onDragEnd':
    'prefix': 'onde'
    'body': 'onDragEnd$0'
  'onDragEnter':
    'prefix': 'onden'
    'body': 'onDragEnter$0'
  'onDragExit':
    'prefix': 'ondex'
    'body': 'onDragExit$0'
  'onDragLeave':
    'prefix': 'ondl'
    'body': 'onDragLeave$0'
  'onDragOver':
    'prefix': 'ondo'
    'body': 'onDragOver$0'
  'onDragStart':
    'prefix': 'onds'
    'body': 'onDragStart$0'
  'onDrop':
    'prefix': 'ondr'
    'body': 'onDrop$0'
  'onFocus':
    'prefix': 'onfo'
    'body': 'onFocus$0'
  'onInput':
    'prefix': 'onin'
    'body': 'onInput$0'
  'onKeyDown':
    'prefix': 'onkd'
    'body': 'onKeyDown$0'
  'onKeyPress':
    'prefix': 'onkp'
    'body': 'onKeyPress$0'
  'onKeyUp':
    'prefix': 'onku'
    'body': 'onKeyUp$0'
  'onMouseDown':
    'prefix': 'onmd'
    'body': 'onMouseDown$0'
  'onMouseEnter':
    'prefix': 'onme'
    'body': 'onMouseEnter$0'
  'onMouseLeave':
    'prefix': 'onml'
    'body': 'onMouseLeave$0'
  'onMouseMove':
    'prefix': 'onmm'
    'body': 'onMouseMove$0'
  'onMouseOut':
    'prefix': 'onmo'
    'body': 'onMouseOut$0'
  'onMouseOver':
    'prefix': 'onmov'
    'body': 'onMouseOver$0'
  'onMouseUp':
    'prefix': 'onmu'
    'body': 'onMouseUp$0'
  'onPaste':
    'prefix': 'onpa'
    'body': 'onPaste$0'
  'onScroll':
    'prefix': 'onsc'
    'body': 'onScroll$0'
  'onSubmit':
    'prefix': 'onsu'
    'body': 'onSubmit$0'
  'onTouchCancel':
    'prefix': 'ontc'
    'body': 'onTouchCancel$0'
  'onTouchEnd':
    'prefix': 'onte'
    'body': 'onTouchEnd$0'
  'onTouchMove':
    'prefix': 'ontm'
    'body': 'onTouchMove$0'
  'onTouchStart':
    'prefix': 'onts'
    'body': 'onTouchStart$0'
  'onWheel':
    'prefix': 'onwh'
    'body': 'onWheel$0'
