'.source.js.jsx':
  'import ReactDOMServer':
    'prefix': 'imrds'
    'body': 'import ReactDOMServer from \'react-dom/server\'$0'
  'ReactDOMServer.renderToStaticMarkup':
    'prefix': 'rtsm'
    'body': 'ReactDOMServer.renderToStaticMarkup($0)'
  'ReactDOMServer.renderToString':
    'prefix': 'rts'
    'body': 'ReactDOMServer.renderToString($0)'
