# React Top-Level API
# http://facebook.github.io/react/docs/top-level-api.html
'.source.js.jsx':
  'React.createElement()':
    'prefix': 'rc'
    'body': 'React.createElement(\'$1\', $2, $3)$0'
  'React.createFactory()':
    'prefix': 'rcf'
    'body': 'React.createFactory($1)$0'
  'import react':
    'prefix': 'imr'
    'body': 'import React from \'react\';'
