# Generated with Atomizr v0.15.0 - https://github.com/idleberg/atomizr
'.source.js.jsx':
  'import react-router':
    'prefix': 'imrr'
    'body': 'import { $0 } from \'react-router\';'
  'react-router Link':
    'prefix': 'link'
    'body': '<Link to=\"$1\">$2</Link>$0'
  'react-router Redirect':
    'prefix': 'redirect'
    'body': '<Redirect from=\'$1\' to=\'$2\'></Redirect>$0'
  'Router.IndexLink':
    'prefix': 'ilink'
    'body': '<IndexLink to=\"$1\">$2</IndexLink>'
  'Router.IndexRoute':
    'prefix': 'iroute'
    'body': '<IndexRoute component={ $1 }>$0</IndexRoute>'
  'Router.Route':
    'prefix': 'router'
    'body': '<Router history={ $1 }>$0</Router>'
