# Generated with Atomizr v0.15.0 - https://github.com/idleberg/atomizr
'.source.js.jsx':
  'import react-dom':
    'prefix': 'imrd'
    'body': 'import ReactDOM from \'react-dom\';'
  'React.findDOMNode':
    'prefix': 'fdn'
    'body': 'ReactDOM.findDOMNode($0)'
  'react-dom render':
    'prefix': 'rdr'
    'body': 'ReactDOM.render($0)'
  'ReactDOM unmountComponent at node':
    'prefix': 'unm'
    'body': 'ReactDOM.unmountComponentAtNode($0)'
