'.source.js.jsx':
  'import react-dom':
    'prefix': 'imrd'
    'body': 'import ReactDOM from \'react-dom\'$0'
  'ReactDOM.findDOMNode':
    'prefix': 'fdn'
    'body': 'ReactDOM.findDOMNode($0)'
  'ReactDOM.render':
    'prefix': 'rdr'
    'body': 'ReactDOM.render($0)'
  'ReactDOM.unmountComponentAtNode':
    'prefix': 'unm'
    'body': 'ReactDOM.unmountComponentAtNode($0)'
