# Generated with Atomizr v0.15.0 - https://github.com/idleberg/atomizr
'.source.js.jsx':
  'React.DOM.a':
    'prefix': 'Ra'
    'body': 'React.DOM.a($0)'
  'React.DOM.abbr':
    'prefix': 'Rabbr'
    'body': 'React.DOM.abbr($0)'
  'React.DOM.address':
    'prefix': 'Raddress'
    'body': 'React.DOM.address($0)'
  'React.DOM.area':
    'prefix': 'Rarea'
    'body': 'React.DOM.area($0)'
  'React.DOM.article':
    'prefix': 'Rarticle'
    'body': 'React.DOM.article($0)'
  'React.DOM.aside':
    'prefix': 'Raside'
    'body': 'React.DOM.aside($0)'
  'React.DOM.audio':
    'prefix': 'Raudio'
    'body': 'React.DOM.audio($0)'
  'React.DOM.b':
    'prefix': 'Rb'
    'body': 'React.DOM.b($0)'
  'React.DOM.base':
    'prefix': 'Rbase'
    'body': 'React.DOM.base($0)'
  'React.DOM.bdi':
    'prefix': 'Rbdi'
    'body': 'React.DOM.bdi($0)'
  'React.DOM.bdo':
    'prefix': 'Rbdo'
    'body': 'React.DOM.bdo($0)'
  'React.DOM.big':
    'prefix': 'Rbig'
    'body': 'React.DOM.big($0)'
  'React.DOM.blockquote':
    'prefix': 'Rblockquote'
    'body': 'React.DOM.blockquote($0)'
  'React.DOM.body':
    'prefix': 'Rbody'
    'body': 'React.DOM.body($0)'
  'React.DOM.br':
    'prefix': 'Rbr'
    'body': 'React.DOM.br($0)'
  'React.DOM.button':
    'prefix': 'Rbutton'
    'body': 'React.DOM.button($0)'
  'React.DOM.canvas':
    'prefix': 'Rcanvas'
    'body': 'React.DOM.canvas($0)'
  'React.DOM.caption':
    'prefix': 'Rcaption'
    'body': 'React.DOM.caption($0)'
  'React.DOM.circle':
    'prefix': 'Rcircle'
    'body': 'React.DOM.circle($0)'
  'React.DOM.cite':
    'prefix': 'Rcite'
    'body': 'React.DOM.cite($0)'
  'React.DOM.code':
    'prefix': 'Rcode'
    'body': 'React.DOM.code($0)'
  'React.DOM.col':
    'prefix': 'Rcol'
    'body': 'React.DOM.col($0)'
  'React.DOM.colgroup':
    'prefix': 'Rcolgroup'
    'body': 'React.DOM.colgroup($0)'
  'React.DOM.data':
    'prefix': 'Rdata'
    'body': 'React.DOM.data($0)'
  'React.DOM.datalist':
    'prefix': 'Rdatalist'
    'body': 'React.DOM.datalist($0)'
  'React.DOM.dd':
    'prefix': 'Rdd'
    'body': 'React.DOM.dd($0)'
  'React.DOM.defs':
    'prefix': 'Rdefs'
    'body': 'React.DOM.defs($0)'
  'React.DOM.del':
    'prefix': 'Rdel'
    'body': 'React.DOM.del($0)'
  'React.DOM.details':
    'prefix': 'Rdetails'
    'body': 'React.DOM.details($0)'
  'React.DOM.dfn':
    'prefix': 'Rdfn'
    'body': 'React.DOM.dfn($0)'
  'React.DOM.div':
    'prefix': 'Rdiv'
    'body': 'React.DOM.div($0)'
  'React.DOM.dl':
    'prefix': 'Rdl'
    'body': 'React.DOM.dl($0)'
  'React.DOM.dt':
    'prefix': 'Rdt'
    'body': 'React.DOM.dt($0)'
  'React.DOM.em':
    'prefix': 'Rem'
    'body': 'React.DOM.em($0)'
  'React.DOM.embed':
    'prefix': 'Rembed'
    'body': 'React.DOM.embed($0)'
  'React.DOM.fieldset':
    'prefix': 'Rfieldset'
    'body': 'React.DOM.fieldset($0)'
  'React.DOM.figcaption':
    'prefix': 'Rfigcaption'
    'body': 'React.DOM.figcaption($0)'
  'React.DOM.figure':
    'prefix': 'Rfigure'
    'body': 'React.DOM.figure($0)'
  'React.DOM.footer':
    'prefix': 'Rfooter'
    'body': 'React.DOM.footer($0)'
  'React.DOM.form':
    'prefix': 'Rform'
    'body': 'React.DOM.form($0)'
  'React.DOM.g':
    'prefix': 'Rg'
    'body': 'React.DOM.g($0)'
  'React.DOM.h1':
    'prefix': 'Rh1'
    'body': 'React.DOM.h1($0)'
  'React.DOM.h2':
    'prefix': 'Rh2'
    'body': 'React.DOM.h2($0)'
  'React.DOM.h3':
    'prefix': 'Rh3'
    'body': 'React.DOM.h3($0)'
  'React.DOM.h4':
    'prefix': 'Rh4'
    'body': 'React.DOM.h4($0)'
  'React.DOM.h5':
    'prefix': 'Rh5'
    'body': 'React.DOM.h5($0)'
  'React.DOM.h6':
    'prefix': 'Rh6'
    'body': 'React.DOM.h6($0)'
  'React.DOM.head':
    'prefix': 'Rhead'
    'body': 'React.DOM.head($0)'
  'React.DOM.header':
    'prefix': 'Rheader'
    'body': 'React.DOM.header($0)'
  'React.DOM.hr':
    'prefix': 'Rhr'
    'body': 'React.DOM.hr($0)'
  'React.DOM.html':
    'prefix': 'Rhtml'
    'body': 'React.DOM.html($0)'
  'React.DOM.i':
    'prefix': 'Ri'
    'body': 'React.DOM.i($0)'
  'React.DOM.iframe':
    'prefix': 'Riframe'
    'body': 'React.DOM.iframe($0)'
  'React.DOM.img':
    'prefix': 'Rimg'
    'body': 'React.DOM.img($0)'
  'React.DOM.input':
    'prefix': 'Rinput'
    'body': 'React.DOM.input($0)'
  'React.DOM.ins':
    'prefix': 'Rins'
    'body': 'React.DOM.ins($0)'
  'React.DOM.kbd':
    'prefix': 'Rkbd'
    'body': 'React.DOM.kbd($0)'
  'React.DOM.keygen':
    'prefix': 'Rkeygen'
    'body': 'React.DOM.keygen($0)'
  'React.DOM.label':
    'prefix': 'Rlabel'
    'body': 'React.DOM.label($0)'
  'React.DOM.legend':
    'prefix': 'Rlegend'
    'body': 'React.DOM.legend($0)'
  'React.DOM.li':
    'prefix': 'Rli'
    'body': 'React.DOM.li($0)'
  'React.DOM.line':
    'prefix': 'Rline'
    'body': 'React.DOM.line($0)'
  'React.DOM.linearGradient':
    'prefix': 'RlinearGradient'
    'body': 'React.DOM.linearGradient($0)'
  'React.DOM.link':
    'prefix': 'Rlink'
    'body': 'React.DOM.link($0)'
  'React.DOM.main':
    'prefix': 'Rmain'
    'body': 'React.DOM.main($0)'
  'React.DOM.map':
    'prefix': 'Rmap'
    'body': 'React.DOM.map($0)'
  'React.DOM.mark':
    'prefix': 'Rmark'
    'body': 'React.DOM.mark($0)'
  'React.DOM.menu':
    'prefix': 'Rmenu'
    'body': 'React.DOM.menu($0)'
  'React.DOM.menuitem':
    'prefix': 'Rmenuitem'
    'body': 'React.DOM.menuitem($0)'
  'React.DOM.meta':
    'prefix': 'Rmeta'
    'body': 'React.DOM.meta($0)'
  'React.DOM.meter':
    'prefix': 'Rmeter'
    'body': 'React.DOM.meter($0)'
  'React.DOM.nav':
    'prefix': 'Rnav'
    'body': 'React.DOM.nav($0)'
  'React.DOM.noscript':
    'prefix': 'Rnoscript'
    'body': 'React.DOM.noscript($0)'
  'React.DOM.object':
    'prefix': 'Robject'
    'body': 'React.DOM.object($0)'
  'React.DOM.ol':
    'prefix': 'Rol'
    'body': 'React.DOM.ol($0)'
  'React.DOM.optgroup':
    'prefix': 'Roptgroup'
    'body': 'React.DOM.optgroup($0)'
  'React.DOM.option':
    'prefix': 'Roption'
    'body': 'React.DOM.option($0)'
  'React.DOM.output':
    'prefix': 'Routput'
    'body': 'React.DOM.output($0)'
  'React.DOM.p':
    'prefix': 'Rp'
    'body': 'React.DOM.p($0)'
  'React.DOM.param':
    'prefix': 'Rparam'
    'body': 'React.DOM.param($0)'
  'React.DOM.path':
    'prefix': 'Rpath'
    'body': 'React.DOM.path($0)'
  'React.DOM.polygon':
    'prefix': 'Rpolygon'
    'body': 'React.DOM.polygon($0)'
  'React.DOM.polyline':
    'prefix': 'Rpolyline'
    'body': 'React.DOM.polyline($0)'
  'React.DOM.pre':
    'prefix': 'Rpre'
    'body': 'React.DOM.pre($0)'
  'React.DOM.progress':
    'prefix': 'Rprogress'
    'body': 'React.DOM.progress($0)'
  'React.DOM.q':
    'prefix': 'Rq'
    'body': 'React.DOM.q($0)'
  'React.DOM.radialGradient':
    'prefix': 'RradialGradient'
    'body': 'React.DOM.radialGradient($0)'
  'React.DOM.rect':
    'prefix': 'Rrect'
    'body': 'React.DOM.rect($0)'
  'React.DOM.rp':
    'prefix': 'Rrp'
    'body': 'React.DOM.rp($0)'
  'React.DOM.rt':
    'prefix': 'Rrt'
    'body': 'React.DOM.rt($0)'
  'React.DOM.ruby':
    'prefix': 'Rruby'
    'body': 'React.DOM.ruby($0)'
  'React.DOM.s':
    'prefix': 'Rs'
    'body': 'React.DOM.s($0)'
  'React.DOM.samp':
    'prefix': 'Rsamp'
    'body': 'React.DOM.samp($0)'
  'React.DOM.script':
    'prefix': 'Rscript'
    'body': 'React.DOM.script($0)'
  'React.DOM.section':
    'prefix': 'Rsection'
    'body': 'React.DOM.section($0)'
  'React.DOM.select':
    'prefix': 'Rselect'
    'body': 'React.DOM.select($0)'
  'React.DOM.small':
    'prefix': 'Rsmall'
    'body': 'React.DOM.small($0)'
  'React.DOM.source':
    'prefix': 'Rsource'
    'body': 'React.DOM.source($0)'
  'React.DOM.span':
    'prefix': 'Rspan'
    'body': 'React.DOM.span($0)'
  'React.DOM.stop':
    'prefix': 'Rstop'
    'body': 'React.DOM.stop($0)'
  'React.DOM.strong':
    'prefix': 'Rstrong'
    'body': 'React.DOM.strong($0)'
  'React.DOM.style':
    'prefix': 'Rstyle'
    'body': 'React.DOM.style($0)'
  'React.DOM.sub':
    'prefix': 'Rsub'
    'body': 'React.DOM.sub($0)'
  'React.DOM.summary':
    'prefix': 'Rsummary'
    'body': 'React.DOM.summary($0)'
  'React.DOM.sup':
    'prefix': 'Rsup'
    'body': 'React.DOM.sup($0)'
  'React.DOM.svg':
    'prefix': 'Rsvg'
    'body': 'React.DOM.svg($0)'
  'React.DOM.table':
    'prefix': 'Rtable'
    'body': 'React.DOM.table($0)'
  'React.DOM.tbody':
    'prefix': 'Rtbody'
    'body': 'React.DOM.tbody($0)'
  'React.DOM.td':
    'prefix': 'Rtd'
    'body': 'React.DOM.td($0)'
  'React.DOM.text':
    'prefix': 'Rtext'
    'body': 'React.DOM.text($0)'
  'React.DOM.textarea':
    'prefix': 'Rtextarea'
    'body': 'React.DOM.textarea($0)'
  'React.DOM.tfoot':
    'prefix': 'Rtfoot'
    'body': 'React.DOM.tfoot($0)'
  'React.DOM.th':
    'prefix': 'Rth'
    'body': 'React.DOM.th($0)'
  'React.DOM.thead':
    'prefix': 'Rthead'
    'body': 'React.DOM.thead($0)'
  'React.DOM.time':
    'prefix': 'Rtime'
    'body': 'React.DOM.time($0)'
  'React.DOM.title':
    'prefix': 'Rtitle'
    'body': 'React.DOM.title($0)'
  'React.DOM.tr':
    'prefix': 'Rtr'
    'body': 'React.DOM.tr($0)'
  'React.DOM.track':
    'prefix': 'Rtrack'
    'body': 'React.DOM.track($0)'
  'React.DOM.u':
    'prefix': 'Ru'
    'body': 'React.DOM.u($0)'
  'React.DOM.ul':
    'prefix': 'Rul'
    'body': 'React.DOM.ul($0)'
  'React.DOM.video':
    'prefix': 'Rvideo'
    'body': 'React.DOM.video($0)'
  'React.DOM.wbr':
    'prefix': 'Rwbr'
    'body': 'React.DOM.wbr($0)'
