# React Top-Level API
# http://facebook.github.io/react/docs/top-level-api.html
'.source.js.jsx':
  'React.createElement()':
    'prefix': 'rc'
    'body': 'React.createElement(\'$1\', $2, $3)$0'
  'React.createFactory()':
    'prefix': 'rcf'
    'body': 'React.createFactory($1)$0'
  'import react':
    'prefix': 'imr'
    'body': 'import React from \'react\';'
  'React this.setProps':
    'prefix': 'sp'
    'body': 'this.setProps({$0})'
  'React this.setState':
    'prefix': 'ss'
    'body': 'this.setState({$0})'
  'React this.context':
    'prefix': 'thisc'
    'body': 'this.context.$0'
  'React this.props':
    'prefix': 'thisp'
    'body': 'this.props.$0'
  'React this.refs':
    'prefix': 'thisr'
    'body': 'this.refs.$0'
  'React this.state':
    'prefix': 'thiss'
    'body': 'this.state.$0'
