# Generated with Atomizr v0.15.0 - https://github.com/idleberg/atomizr
'.source.js.jsx':
  'ReactDOMServer.renderToStaticMarkup':
    'prefix': 'rtsm'
    'body': 'ReactDOMServer.renderToStaticMarkup($0)'
  'ReactDOMServer.renderToString':
    'prefix': 'rts'
    'body': 'ReactDOMServer.renderToString($0)'
